.navmenu-container-list{
display:flex;
justify-content:space-around;
text-decoration: none;
}
.navmenu-container{
  display:flex;
  list-style: none;
  justify-content: space-around;
}
.services-container{
  display:flex;
  list-style: none;
  flex-direction: column;
  align-items: center;

}
.services-container-list{
  text-decoration: none;
  padding:10px;
  margin:10px;
  
}
.services-parent{
  border: 1px solid black;
  width:20%;
  margin-left: 41%;
  text-align: center;
}
.Nav_link:link {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
}
.Nav_link:visited {
  color:crimson;
}
.Nav_link:hover {
  color: yellow;
}
/* .Nav_link:active {
  color: red;
} */

.activeRoute {
  background-color: yellow;
  border-bottom: 0.4rem solid red;
  cursor: not-allowed;
}